ion-menu-button {
    --background: #ffaa00;
    --background-focused: #ffaa00;
    --background-focused-opacity: 1;
    --background-hover:#ffaa00;
    --background-hover-opacity: 1;
    --border-radius: 4px;
    --color:#ffaa00;
    --color-focused: #ffaa00;
    --color-hover: #ffaa00;
    --padding-bottom: 4px;
    --padding-end: 4px;
    --padding-start: 4px;
    --padding-top: 4px;
}